In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import sqlite3

%matplotlib inline

In [26]:
def get_dataframe_from_sql(query, db_path = 'football.sqlite'):
    """
    Returns a pandas dataframe containing the db data returned
    by the provided SQL query.
    """
    # establish a connection to the database
    conn = sqlite3.connect(db_path)

    # load the query results into a pandas dataframe
    df = pd.read_sql_query(query, conn)

    # close the connection to the database
    conn.close()

    # return the dataframe
    return df

In [11]:
get_dataframe_from_sql("SELECT name FROM sqlite_master WHERE type='table';")

                name
0    sqlite_sequence
1  Player_Attributes
2             Player
3              Match
4             League
5            Country
6               Team
7    Team_Attributes

In [9]:
get_dataframe_from_sql("PRAGMA table_info(Player_Attributes);").head(30)

    cid                 name     type  notnull dflt_value  pk
0     0                   id  INTEGER        0       None   1
1     1   player_fifa_api_id  INTEGER        0       None   0
2     2        player_api_id  INTEGER        0       None   0
3     3                 date     TEXT        0       None   0
4     4       overall_rating  INTEGER        0       None   0
5     5            potential  INTEGER        0       None   0
6     6       preferred_foot     TEXT        0       None   0
7     7  attacking_work_rate     TEXT        0       None   0
8     8  defensive_work_rate     TEXT        0       None   0
9     9             crossing  INTEGER        0       None   0
10   10            finishing  INTEGER        0       None   0
11   11     heading_accuracy  INTEGER        0       None   0
12   12        short_passing  INTEGER        0       None   0
13   13              volleys  INTEGER        0       None   0
14   14            dribbling  INTEGER        0       None   0
15   15                curve  INTEGER        0       None   0
16   16   free_kick_accuracy  INTEGER        0       None   0
17   17         long_passing  INTEGER        0       None   0
18   18         ball_control  INTEGER        0       None   0
19   19         acceleration  INTEGER        0       None   0
20   20         sprint_speed  INTEGER        0       None   0
21   21              agility  INTEGER        0       None   0
22   22            reactions  INTEGER        0       None   0
23   23              balance  INTEGER        0       None   0
24   24           shot_power  INTEGER        0       None   0
25   25              jumping  INTEGER        0       None   0
26   26              stamina  INTEGER        0       None   0
27   27             strength  INTEGER        0       None   0
28   28           long_shots  INTEGER        0       None   0
29   29           aggression  INTEGER        0       None   0

In [25]:
get_dataframe_from_sql("SELECT * FROM Team;").head()

   id  team_api_id  team_fifa_api_id     team_long_name team_short_name
0   1         9987             673.0           KRC Genk             GEN
1   2         9993             675.0       Beerschot AC             BAC
2   3        10000           15005.0   SV Zulte-Waregem             ZUL
3   4         9994            2007.0   Sporting Lokeren             LOK
4   5         9984            1750.0  KSV Cercle Brugge             CEB

#### get the top 5 leagues

In [32]:
top_5_leagues_names = {
    "England Premier League",
    "France Ligue 1",
    "Germany 1. Bundesliga",
    "Italy Serie A",
    "Spain LIGA BBVA",
}

league_name_values = [f"\'{name}\'" for name in top_5_leagues_names]
leagues_df = get_dataframe_from_sql(f'SELECT * FROM League WHERE name IN ({", ".join(league_name_values)})')
leagues_df

      id  country_id                    name
0   1729        1729  England Premier League
1   4769        4769          France Ligue 1
2   7809        7809   Germany 1. Bundesliga
3  10257       10257           Italy Serie A
4  21518       21518         Spain LIGA BBVA

#### filter the matches that are in each league

In [33]:
top_5_leagues_matches = get_dataframe_from_sql('SELECT * FROM Match').query('league_id in @leagues_df.id')
top_5_leagues_matches.sample(30)

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
24087,24088,21518,21518,2014/2015,36,2015-05-10 00:00:00,1778384,10205,10268,1,...,NaN,1.36,5.20,10.00,NaN,NaN,NaN,NaN,NaN,NaN
11139,11140,10257,10257,2010/2011,20,2011-01-16 00:00:00,888353,10233,8600,2,...,3.20,2.40,3.20,3.25,2.30,3.10,3.10,2.40,3.10,3.00
2841,2842,1729,1729,2010/2011,7,2010-10-02 00:00:00,839877,8654,9879,1,...,3.25,2.30,3.30,3.25,2.30,3.25,3.00,2.20,3.25,3.20
11331,11332,10257,10257,2010/2011,38,2011-05-22 00:00:00,888535,8636,8530,3,...,7.00,1.53,3.60,6.50,1.50,3.60,7.00,1.50,3.60,6.50
4536,4537,1729,1729,2015/2016,22,2016-01-18 00:00:00,1988928,10003,9817,1,...,NaN,2.40,3.20,3.40,NaN,NaN,NaN,NaN,NaN,NaN
7200,7201,4769,4769,2014/2015,23,2015-01-31 00:00:00,1709919,8588,7794,1,...,NaN,2.20,3.20,3.75,NaN,NaN,NaN,NaN,NaN,NaN
23376,23377,21518,21518,2012/2013,5,2012-09-24 00:00:00,1260044,8370,8633,0,...,1.33,11.00,5.75,1.30,10.00,5.00,1.30,9.00,5.00,1.33
6926,6927,4769,4769,2013/2014,32,2014-04-05 00:00:00,1468518,9827,9851,2,...,3.50,2.15,3.20,3.90,NaN,NaN,NaN,NaN,NaN,NaN
7450,7451,4769,4769,2015/2016,11,2015-10-23 00:00:00,1989880,7819,9830,0,...,NaN,1.95,3.30,4.75,NaN,NaN,NaN,NaN,NaN,NaN
21549,21550,21518,21518,2008/2009,12,2008-11-23 00:00:00,530255,8634,8305,1,...,17.00,1.14,7.00,17.00,1.20,6.00,13.00,1.17,6.00,15.00
7174,7175,4769,4769,2014/2015,20,2015-01-09 00:00:00,1709893,10249,8592,2,...,NaN,4.33,3.40,2.00,NaN,NaN,NaN,NaN,NaN,NaN
7267,7268,4769,4769,2014/2015,29,2015-03-13 00:00:00,1709986,9831,9747,1,...,NaN,2.45,3.10,3.40,NaN,NaN,NaN,NaN,NaN,NaN
10429,10430,10257,10257,2008/2009,25,2009-02-22 00:00:00,539802,9882,8524,1,...,3.75,2.10,3.10,3.30,2.20,3.00,3.40,2.05,3.10,3.50
12082,12083,10257,10257,2012/2013,4,2012-09-23 00:00:00,1287005,9882,9804,1,...,3.75,2.20,3.20,3.90,2.00,3.20,3.85,2.05,3.30,3.60
4637,4638,1729,1729,2015/2016,31,2016-03-19 00:00:00,1989019,8659,9850,0,...,NaN,2.25,3.20,3.70,NaN,NaN,NaN,NaN,NaN,NaN
12183,12184,10257,10257,2013/2014,13,2013-11-24 00:00:00,1536649,8600,8535,1,...,2.50,2.88,3.25,2.70,NaN,NaN,NaN,NaN,NaN,NaN
12163,12164,10257,10257,2013/2014,11,2013-11-03 00:00:00,1536629,8600,8636,0,...,2.50,2.90,3.30,2.62,NaN,NaN,NaN,NaN,NaN,NaN
11113,11114,10257,10257,2010/2011,18,2011-01-06 00:00:00,888337,9857,8535,1,...,2.70,2.75,3.00,2.62,2.75,3.00,2.60,2.70,3.00,2.70
11573,11574,10257,10257,2011/2012,26,2012-03-03 00:00:00,1083364,9885,8533,1,...,11.00,1.30,5.50,13.00,1.30,4.75,10.00,1.30,5.00,10.00
3685,3686,1729,1729,2013/2014,14,2013-12-04 00:00:00,1474476,8659,8456,2,...,1.62,5.50,4.20,1.65,NaN,NaN,NaN,NaN,NaN,NaN
2689,2690,1729,1729,2010/2011,28,2011-02-27 00:00:00,840126,8654,8650,3,...,2.10,3.60,3.40,2.20,3.50,3.20,2.10,3.60,3.25,2.05
7599,7600,4769,4769,2015/2016,25,2016-02-06 00:00:00,1990121,9829,9831,1,...,NaN,1.85,3.40,4.80,NaN,NaN,NaN,NaN,NaN,NaN
24442,24443,21518,21518,2015/2016,33,2016-04-16 00:00:00,2030483,8306,9869,1,...,NaN,1.93,3.60,4.33,NaN,NaN,NaN,NaN,NaN,NaN
9891,9892,7809,7809,2014/2015,34,2015-05-23 00:00:00,1733022,9904,8358,2,...,NaN,2.00,3.60,3.80,NaN,NaN,NaN,NaN,NaN,NaN
9428,9429,7809,7809,2013/2014,19,2014-02-02 00:00:00,1479154,9823,9810,5,...,19.00,1.12,9.50,29.00,NaN,NaN,NaN,NaN,NaN,NaN
4432,4433,1729,1729,2015/2016,13,2015-11-21 00:00:00,1988834,10261,8197,0,...,NaN,2.80,3.60,2.55,NaN,NaN,NaN,NaN,NaN,NaN
10915,10916,10257,10257,2009/2010,34,2010-04-18 00:00:00,705368,8530,8551,2,...,4.50,1.73,3.50,4.75,1.75,3.40,4.75,1.75,3.40,4.33
3657,3658,1729,1729,2013/2014,11,2013-11-10 00:00:00,1474378,8586,10261,0,...,6.50,1.53,4.33,7.00,NaN,NaN,NaN,NaN,NaN,NaN
21600,21601,21518,21518,2008/2009,17,2009-01-04 00:00:00,530366,8479,8388,3,...,3.60,2.00,3.20,3.40,2.05,3.25,3.50,2.10,3.20,3.50
7360,7361,4769,4769,2014/2015,38,2015-05-23 00:00:00,1710069,8588,9830,1,...,NaN,3.60,3.40,2.20,NaN,NaN,NaN,NaN,NaN,NaN